body {
	margin: 0em;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #757575;
}

h1, h2, h3 {
	margin: 0.4em;
	font-weight: normal;
}

.error {
	color:#BF0303;
}

div#wrapper{
	margin:auto;
	width:790px;
}


	
div#header{
	height:4em;
	width:100%;
	margin-top:2em;
	margin-bottom:2em;
}
div#header h1{
	float:right;
}

div#header #logos{
	float:left;
	width:100%;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #837669;
}
div#header #logos img{
	border: 0px;
	margin-left:75px;
}

div#main{
	width:100%;
	padding:0.5em;
	margin-top:0.5em;
}

div#main div#title{
	margin-top:0.5em;
	font-size: 2em;
}

div#main div#content{
	padding:1em;
}


.inputFormData{
	margin:3em;
}

.inputFormData label{
	display:block;
	font-size: 1.5em;
	margin-bottom:0.3em;
}

.ui-growl {
	position: absolute;
	top: 40px;
	z-index: 9999;
}
/*
.ui-message-error{
	margin:0;
	margin-top:0.5em;
}
*/

input.ui-button {
	padding: 1em;
}
input.ui-button:hover{
	cursor:pointer;
}
.ui-datatable th{
	text-align:left;
}
.recentTracksTitle{
	font-size: 1.2em;
}
.ui-editable-column-options .ui-icon{
	background-repeat: repeat;
}	
.ui-editable-column-options .ui-icon-pencil{
	background-image: url(./images/pencil.png)
}
.ui-editable-column-options .ui-icon-check{
	background-image: url(./images/check.png)
}
.ui-editable-column-options .ui-icon-close{
	margin-left:0.5em;
	background-image: url(./images/close.png)
}
.ui-editable-column-options .ui-icon-remove{
	float:left;
	margin-left:0.5em;
	background-image: url(./images/remove.png)
}
.ui-icon-home{
	float:left;
	margin-left:0.5em;
	background-image: url(./images/home.png)
}

a{
	
    text-decoration: none;
}
a:hover{
	color:#208be3;
}
.middleColumns{
	width:48%;
	vertical-align: top;
}
.shortColumn{
	width:25%;
	vertical-align: top;
}
.ui-datepicker-trigger{
	margin-left: 0.5em;
}
.hasDatepicker{
	width:100px;
}
.h2{
   font-size: 2em;
   font-weight:boler;
}
.h3{
   font-size: 1.5em;
   font-weight:boler;
}
.results{
	font-size:1.1em;
}
.chart{
	width:100%;
}

.calendar-style{
	whidth:100%;
}

#contenedor-max-height {
  max-width: 1200px;
  width: expression(document.body.clientWidth > 1201? "1200px": "auto") !important;
}


/* !important is needed sometimes */
 ::-webkit-scrollbar {
    width: 0px !important;
 }
 
  .myWid100 input.hasDatepicker {
    width: 100%;
    padding: 10px;
    border-color: #C4C0B9;
    color: #555555;
    height: 25px;
    padding:5px 10px;
}

.mbr-scroll-ui-widget-content {
	border: none !important;
	background: none !important;
}

.mbr-datalist-green-ui-widget-content {
    border: 1px solid #68B828;
    background: none !important;
    margin-bottom: 0px !important;
}

.ui-widget-overlay {
    filter:alpha(opacity=80);  /* works in IE 7 */
    opacity: 0.4;  /* works in Firefox */
}


 